{
    "presets":[
        ["env", { "modules": false }], "react", "stage-0",
    ],
    "env": {
      "test": {
        "presets": ["env", "react"]
      }
    },
    "plugins": ["react-hot-loader/babel"]
}
