<h1>Procuração Administrativa</h1>

<h2>Outorgante</h2>
<p>
  <%- include('_client', {_client: _client}) -%>
</p>

<h2>Outorgado(s)</h2>
<p>
  <%- include('_parts', {'parts': _client.company.modules.dpvat.adm}) -%>
</p>

<h2>Poderes</h2>
<p>O OUTORGANTE concede poderes especiais ao(s) OUTORGADO(S) para:</p>
<p>
Enviar documentos, receber correspondências, solicitar informações por escrito
ou por telefone, ter acesso ao número do sinistro, acompanhar o andamento
do sinistro, ter informações e acompanhar pericias necessárias e apresentar
documentos referentes ao sinistro, junto à Seguradora Líder, Seguradoras
conveniadas e a Susep.
</p>
<p>
Obs.: É de responsabilidade do outorgante a veracidade das informações e
documentos apresentados e disponibilizados ao outorgado.
</p>

<p>
  São Paulo, <%= fullDate %>.
</p>

<div style="margin: 60px 40px 10px 40px; text-align: center">
<%- include('_client_signature', {_client: _client, text: 'Outorgante'}) -%>
<br>
(Firma por Autenticidade)
</div>
