<h1>CONTRATO DE HONORÁRIOS E PRESTAÇÃO DE SERVIÇOS DE ASSESSORIA</h1>

<h2>Contratante</h2>
<p>
  <%- include('_client', {client: client}) -%>
</p>

<h2>Contratada</h2>
<p>
  A.M.C Saúde Eireli, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 27.722.641/0001-06, com sede na ua Francisco Octávio Pacca, nº 139, Pq. América, São Paulo/SP, CEP 04822-030.
</p>

<p>
Cláusula 01: A contratada se incumbirá de prestar serviços de assessoria ao contratante visando o recebimento de indenizações securitárias decorrentes do acidente automobilístico suportado pelo contratante, inclusive o seguro DPVAT, através de seus prepostos;<br>
Cláusula 02: Pelos serviços a serem prestados, o contratante obriga-se a pagar à contratada o valor equivalente a 30% ( Trinta por Cento) do proveito econômico ou equivalente a este que vier a receber em decorrência desta prestação de serviços;<br>
Cláusula 03: Caso seja constatada a necessidade de tratamento fisioterápico ao contratante, a contratatada concederá ao contratante empréstimo do valor do tratamento a ser realizado junto à clínica ou profissional de confiança, ficando sujeito à aprovação da contratada e mediante apresentação de Notas Fiscais e/ou recibos de tratamento;<br>
Cláusula 04: O contratante pagará o valor do empréstimo com o possível reembolso previsto no art. 3º, III da Lei 6.194/74, autorizando desde já o recebimento pela AMC Saude Eireli contratada através da modalidade débito automático junto à instituição financeira que o contratante possui conta;<br>
Cláusula 05: O contratante neste ato isenta a contratada de responsabilidade de qualquer natureza atinente ao resultado obtido ao final da prestação de serviços, tendo em vista caracterizar-se como serviço meio, não fim;<br>
Cláusula 05: Em caso de inadimplência por parte do contratante fica assegurado a multa equivalente a 1 (um) salário mínimo, bem como os honorários proporcionais ao serviço prestado. Ainda, será devido 20% a título de honorários advocatícios em caso de cobrança extrajudicial ou judicial;<br>
Cláusula 06: Nos termos do art. 784, III do Código de Processo Civil, serve o presente como título executivo extrajudicial;<br>
Cláusula 07: Fica eleito o Foro Regional de Santo Amaro, São Paulo – SP, foro da sede do contratado para resolver possíveis questões dele emergentes.
</p>

<p>
E por ser expressão da verdade, firma-se o presente contrato na presença de 2 testemunhas.
</p>

<p style="text-align: center; margin-bottom: 40px">
  São Paulo, <%= fullDate %>
</p>

<div style="text-align: center">
  <%- include('_client_signature', {client: client, text: 'Contratante'}) -%>
  <br>
  ____________________________________________<br>
  A.M.C Saúde Eireli
  <br>
</div>
<div style="text-align: center; margin-top: 50px;">
  <div style="width: 50%; float: left">
    ____________________________________________<br>
    Nome:<br>
    CPF:
  </div>
  <div style="width: 50%; float: left">
    ____________________________________________<br>
    Nome:<br>
    CPF:
  </div>
</div>
