<h1>CONTRATO DE HONORÁRIOS E PRESTAÇÃO DE SERVIÇOS DE ASSESSORIA</h1>

<h2>Contratante</h2>
<p>
  <%- include('_client', {client: client}) -%>
</p>

<h2>Contratada</h2>
<p>
  LA Saúde e Fisioterapia Eireli, pessoa jurídica de direito privado, inscrita no CNPJ/MF sob o nº 22.569.228/0001-30, com sede na Av. Presidente Médici, nº 120, sala 3, Jd. Aliança, Osasco/SP, CEP: 06268-000
</p>

<p>
  Cláusula 01: A contratada se incumbirá de fornecer serviços de fisioterapia e acupuntura ao contratante em decorrência do acidente de trânsito por ele suportado, seja nas instalações da contratada, seja home care, em dias e horários previamente agendados entre as partes;<br>
  Cláusula 02: O valor do tratamento será de acordo com o número de sessões prestadas, sendo R$ 65,00 ( Sessenta e Cinco reais) a sessão de fisioterapia e R$ 100,00 (Cem Reais ) a sessão de acupuntura;<br>
  Cláusula 03: O pagamento poderá ser realizado através de dinheiro, cheque, cartão de débito, crédito ou congêneres;<br>
  Cláusula 04: O contratante neste ato isenta a contratada de responsabilidade de qualquer natureza atinente ao resultado obtido ao final da prestação de serviços, tendo em vista caracterizar-se como serviço meio, não fim;<br>
  Cláusula 05: Em caso de inadimplência por parte do contratante, fica assegurado a multa equivalente a 20% do serviço prestado, bem como o acréscimo de 20% de honorários advocatícios em casos de cobrança extrajudicial ou judicial;<br>
  Cláusula 06: Nos termos do art. 784, III do Código de Processo Civil, serve o presente como título executivo extrajudicial;<br>
  Cláusula 07: Fica eleito o Foro Regional de Santo Amaro, São Paulo – SP, foro da sede do contratado para resolver possíveis questões dele emergentes.
</p>

<p>
E por ser expressão da verdade, firma-se o presente contrato na presença de 2 testemunhas.
</p>

<p style="text-align: center; margin-bottom: 40px">
  São Paulo, <%= fullDate %>
</p>

<div style="text-align: center">
  <%- include('_client_signature', {client: client, text: 'Contratante'}) -%>
  <br>
  ____________________________________________<br>
  LA Saúde e Fisioterapia Eireli
  <br>
</div>
<div style="text-align: center; margin-top: 50px;">
  <div style="width: 50%; float: left">
    ____________________________________________<br>
    Nome:<br>
    CPF:
  </div>
  <div style="width: 50%; float: left">
    ____________________________________________<br>
    Nome:<br>
    CPF:
  </div>
</div>
