<div style="
  position: relative;
  float: left;
  width: 100%;
">
  <img style="width: 99%" src="/static/img/ausencia-laudo-iml.jpg" alt="">
  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.4%;
    top: 35.8%;
  ">
    <%= client.name %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 51.0%;
    top: 35.8%;
  ">
    <%= client.cpf %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 74.3%;
    top: 35.8%;
  ">
    <%= client.accident_date %>
  </span>


</div>
