<h1>Procuração 'Ad Judicia'</h1>

<h2>Outorgante</h2>
<p>
  <%- include('_client', {client: client}) -%>
</p>

<h2>Outorgado</h2>
<p>
  <br>
_____________________________________________________________________________________________________
</p>

<h2>Poder Específico</h2>
<p>
  Representar o Outorgante perante a Justiça, com o intuito de promover
  Ação de Cobrança do Seguro Obrigatório DPVAT
</p>

<h2>Poderes</h2>
<p>
  Amplos poderes para atuação no foro em geral, com a cláusula “ad judicia et extra”, em qualquer Juízo, Instância
ou Tribunal, podendo propor contra quem de direito as ações competentes e defendê-lo(a) nas causas contrárias, seguindo
umas e outras, até final decisão, usando os recursos legais e acompanhando-os, conferindo-lhe amplos poderes especiais
para conferir, desistir, transigir, transmitir compromissos ou acordos, receber e dar quitação, representa-lo(a) em
Repartições Públicas, Federais, Estaduais e Municipais, podendo, ainda, substabelecer a outrem, com ou sem reservas de
iguais poderes, dando tudo por bom, firme e valioso, podendo dito procurador praticar todos os atos que se fizerem
necessários sem restrições, em especial para propor
<br>
<br>
_____________________________________________________________________________________________________,<br>
contra quem de direito.
</p>

<p>
  São Paulo, <%= fullDate %>.
</p>

<div style="margin: 60px 40px 10px 40px; text-align: center">
____________________________________________________________
<br>
Outorgante: <%= client.name %> - CPF <%= client.cpf %>
</div>
