<h1>Declaração de Pobreza</h1>

<h2>Declarante</h2>
<p>
  <%- include('_client', {client: client}) -%>
</p>

<p>
  DECLARO para os devidos fins, os que se fizerem necessários, e sob às penas da lei,
  que sou pobre na acepção jurídica do termo e não tenho condições de suportar
  ônus processual algum, sem prejuízo próprio ou de minha família.
</p>
<p>
  E por ser a expressão da verdade, firmo a presente para que produza os seus
  jurídicos e legais efeitos.
</p>

<p>
  São Paulo, <%= fullDate %>.
</p>

<div style="margin: 60px 40px 10px 40px; text-align: center">
<%- include('_client_signature', {client: client, text: 'Declarante'}) -%>
</div>
