<div style="
  position: relative;
  float: left;
  width: 100%;
">
  <img style="width: 99%" src="/static/img/prop-veiculo.jpg" alt="">

  <span style="
    font-size: 13px;
    position: absolute;
    left: 13.8%;
    top: 39.8%;
  ">
    <%= _client.name %>
  </span>

  <span style="
    font-size: 13px;
    position: absolute;
    left: 22.8%;
    top: 61.7%;
  ">
    <%= _client.accident_date %>
  </span>
</div>
