<h1>Declaração de Proprietário do Veículo</h1>
<br>
<p>
  Nome<br>
  ____________________________________________________________________________
  <br>RG<br>
  ____________________________________________________________________________
  <br>Nacionalidade<br>
  ____________________________________________________________________________
  <br>CPF/MF<br>
  ____________________________________________________________________________
  <br>Estado civil<br>
  ____________________________________________________________________________
  <br>Endereço<br>
  ____________________________________________________________________________
  <br>Cidade/UF<br>
  ____________________________________________________________________________
  <br>Profissão<br>
  ____________________________________________________________________________
</p>

<p style="margin: 80px 0">
declaro, sob as penas da Lei, que o veículo
abaixo mencionado é(era) de minha propriedade na data do acidente ocorrido
com a vítima______________________________________________________.
</p>

<p>
Veículo<br>
____________________________________________________________________________
<br>Ano<br>
____________________________________________________________________________
<br>Modelo<br>
____________________________________________________________________________
<br>Placa<br>
____________________________________________________________________________
<br>Chassi<br>
____________________________________________________________________________
<br>Data do Acidente<br>
____________________________________________________________________________
</p>

<p style="text-align: center; margin-top: 80px">
  _____________________________________________________________
  <br>
  Local e data
  <br>
  <br>
  <br>
  _____________________________________________________________
  <br>
  Assinatura do declarante
  <br>
  (firma por autenticidade)
</p>
